/* ================ GOOGLE FONTS====================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* ================ VARIABLE CSS  ====================== */
:root {
  --header-height: 3rem;
  /* ===========COLORS =========== */
  --first-color: #aaa;
  --first-color-alt: #ccc;
  --text-color: #292929;
  --body-color: #fff;
  --container-color: #fff;

  /* fonts */

  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.4rem;
  --mb-3: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* variables for dark theme */

body.dark-theme {
  /* --text-color: #2c2c2c;
  --body-color: rgba(233, 236, 239); */
  --body-color: #292929;
  --text-color: #fff;
  --container-color: #bbb;
  --first-color: grey;
}

/* for dark theme */
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* img {
  max-width: 100%;
  height: auto;
} */

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.section {
  padding: 2rem 0 4rem !important;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
  color: #aaa;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  /* box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1); */
}

/* nav */

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  height: 40px;
  width: 30px;
  transition: 1s;
}

body.dark-theme .nav__logo img {
  height: 40px;
  width: 40px;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__logo:hover img {
  transform: rotate(270deg) !important;
}

.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

@media screen and (min-width: 800px) and (max-width: 950px) {
  .nav__logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: var(--mb-1);
    font-size: 0.5rem;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--first-color);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* home */
.home__container {
  min-height: 100vh;
}

.home__typing {
  min-height: 100px;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--big-font-size);
  margin-bottom: 1rem;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* buttons */

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:disabled {
  background-color: var(--first-color-alt);
  cursor: not-allowed;
}

.button--100 {
  width: 50%;
}

.button--center {
  justify-content: center;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover {
  background-color: #fff;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

.home__img {
  width: 320px;
}

.home__contact__button {
  background-color: #303030;
}

body.dark-theme .home__contact__button {
  background-color: #fff;
  color: #292929;
}

/*  what we do section */

.wedo__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  position: relative;
}
.wedo__hover__content {
  position: relative;
  border: 1px solid var(--first-color);
  padding: 1rem;
  border-radius: 10px;
}

.wedo__titles {
  height: 80px;
  cursor: pointer;
}

.wedo__hover__content:nth-child(odd) {
  left: 0px;
}

.wedo__hover__content:nth-child(even) {
  right: 0px;
}

.wedo__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.wedo__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: #aaa;
}

.wedo__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.wedo__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

/* build section */

.build__images .grid__2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(400px, 400px);
}

.build__images .grid__2 .first {
  grid-column: 1/3;
}

.build__images .grid__2 .second {
  padding: 1rem;
}

.build__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  cursor: pointer;
  filter: grayscale(100%);
}

.build__images .images__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

/* faqs section */

.faqs__section h2 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: var(--first-color);
}
.faqs {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq {
  border: 0.1px solid var(--first-color);
  padding: 0rem 1rem;
  border-radius: 10px;
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__question .title {
  font-size: var(--h3-font-size);
}

.faq__arrow {
  font-size: 2rem;
  color: var(--first-color);
  margin-bottom: 30px;
}
.faq__answer {
  margin-top: 0px;
  padding-bottom: 30px;
  display: none;
}
.faq__answer p {
  font-size: var(--small-font-size);
  color: #aaa;
}

/* footer */
/* footer */

.footer {
  padding-top: 2rem;
}

.footer .nav__logo img {
  height: 50px;
  width: 50px;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: #292929;
  padding: 2rem 0 3rem;
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 0.7rem;
}

.footer__links.contact__info .footer__link {
  color: #aaa;
}

.footer__links.contact__info .footer__link:hover {
  color: #fff;
}
.footer__link:hover {
  color: var(--first-color);
  transition: 0.4s;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--first-color);
  margin-top: var(--mb-1);
}

.footer .policies {
  text-align: center;
  color: var(--first-color);
  margin-top: var(--mb-3);
}
.footer .policies a {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-align: center;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

/* subscription container */
.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
}

.subscribe__container input {
  padding: 1rem;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.subscribe__container .subscribe__button {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* media queries for smaller devices */

@media screen and (max-width: 368px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__img {
    width: 180px;
  }

  .wedo__data {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }

  .wedo__hover__content {
    margin: 2rem 0rem;
  }

  .build__images .grid__2 {
    grid-auto-rows: minmax(250px, auto);
  }

  .build__images .grid__2 .first {
    background-color: purple;
    grid-column: 1/2;
  }
}

/* for medium devices */

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 3fr 3fr;
  }

  .wedo__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* for larger devices */

@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }

  .wedo__sections {
    grid-template-columns: 0.5fr;
  }
}

/* for extra large devices */

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__container {
    row-gap: 5rem;
    min-height: 80vh;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__img {
    width: 570px;
  }

  .home__scroll {
    display: block;
  }

  .wedo__hover__content {
    position: absolute;
    border: 1px solid var(--first-color);
    padding: 1rem;
    width: 300px;
    border-radius: 10px;
  }

  .wedo__hover__content:nth-child(odd) {
    left: -320px;
  }

  .wedo__hover__content:nth-child(even) {
    right: -300px;
  }
}
